<section>    
    <h3>Dashboards</h3>
    <nav>
        <ul>
            <li *ngFor="let item of menu; index as i" [ngClass]="[item.open ? 'open': '', item.route==currentPage ? 'selected': '']">
                <a (click)="openMenu(i)">
                    <figure>
                        <span [className]="item.ico"></span>
                    </figure>
                    <p>{{item.text}}</p>
                    <figure>
                        <span class="icon-[iconamoon--arrow-up-2-thin]"></span>
                    </figure>
                </a>
                <ol *ngIf="item?.children?.length>0">
                    <li *ngFor="let item2 of item.children; index as j" [ngClass]="[item2.open ? 'open': '', item2.route==currentPage ? 'selected': '']">
                        <a href="" [routerLink]="item2.route" (click)="openMenu2(i,j)">
                            <figure>
                                <span [className]="item2.ico"></span>
                            </figure>
                            <p>{{item2.text}}</p>  
                            <figure *ngIf="item2?.children?.length>0">
                                <span class="icon-[iconamoon--arrow-up-2-thin]"></span>
                            </figure>                  
                        </a>
                        <ul *ngIf="item2?.children?.length>0">
                            <li *ngFor="let item3 of item2.children; index as k" [ngClass]="[item3.open ? 'open': '', item3.route==currentPage ? 'selected': '']">
                                <a href="" [routerLink]="item3.route">
                                    <figure>
                                        <span [className]="item3.ico"></span>
                                    </figure>
                                    <p>{{item3.text}}</p>                    
                                </a>
                            </li>                    
                        </ul>
                    </li>                    
                </ol>
            </li>            
        </ul>
    </nav>
</section>