@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/_util.scss';

article{
    width: 100%;
    &>div{
        width: 100%;
        @include flex;
        justify-content: flex-start;
        &>aside{
            @include flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100px;
            &>div {
                width: 100%;
                @include flex;
                justify-content: flex-start;;
                input{
                    margin-right: 10px;
                }
            }
        }
        &:nth-child(1){
            margin-bottom: 10px;
            label{
                font-weight: bold;
                font-size: 1.2em;
                margin-right: 10px;
            }
        }        
        &:nth-child(2){
            margin-bottom: 10px;
            aside{
                div{
                    margin-right: 30px;
                }
            }
            label{                
                font-size: 1.1em;
                margin-left: 10px;
            }
        }        
        &:nth-child(3),
        &:nth-child(4){
            margin-bottom: 10px;
            input,
            select{
                border: 1px solid #59616A;
                border-radius: 4px;
                width: 80px;
                margin-left: 10px;
                height: 28px;
            }
        }        
    }
}