<article>
    <div>   
        <label for="">Escoger archivos a subir</label>
        <!-- <input type="checkbox"> -->
    </div>
    <div>
        <aside>
            <div *ngFor="let type of question.typesFiles"> 
                <input type="checkbox" [(ngModel)]="type.check">
                <label for="">{{type.name}}</label>
            </div>            
        </aside>
    </div>
    <!-- <div>
        <label for="" >Maximo de archivos a subir</label>
        <input type="number" [(ngModel)]="question.maxSize">
    </div> -->
    <div>
        <label for="">Tamaño maximo de arvhivo</label>
        <select name="max" id="" [(ngModel)]="question.maxSize">
            <option value="10000000">10 MB</option>
            <option value="100000000">100 MB</option>
            <option value="1000000000">1 GB</option>
            <option value="5000000000">5 GB</option>
            <option value="10000000000">10 GB</option>
        </select>
    </div>
</article>