@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/_util.scss';

article{
    width: 100%;
    padding: 0 10px;
    &>div{
        .mat-form-field{
            width: calc(50% - 10px);
        }
    }
    .muestras{
        max-height: 300px;
        overflow-y: auto;
    }
}