<article>
    <div>
        <mat-form-field>
            <mat-label for="">Escoge el tipo de campo</mat-label>
            <mat-select [compareWith]="compareFn" name="typeQuestion" id="lista" [(ngModel)]='question.lista' (ngModelChange)="changeType($event,0)">
                <mat-option *ngFor="let lista of listas" [value]="lista">{{lista.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ul class="muestras">
            <li *ngFor="let muestra of muestras">
                {{muestra}}
            </li>
        </ul>
    </div>
</article>