<section class="new-form main1">
    <header>
        <h3>Creación de formularios</h3>
        <button class="btn2" (click)="seeForm()">
          <figure>
              <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M7.5 0.8125C4.375 0.8125 1.70625 2.75625 0.625 5.5C1.70625 8.24375 4.375 10.1875 7.5 10.1875C10.625 10.1875 13.2937 8.24375 14.375 5.5C13.2937 2.75625 10.625 0.8125 7.5 0.8125ZM7.5 8.625C5.775 8.625 4.375 7.225 4.375 5.5C4.375 3.775 5.775 2.375 7.5 2.375C9.225 2.375 10.625 3.775 10.625 5.5C10.625 7.225 9.225 8.625 7.5 8.625ZM7.5 3.625C6.4625 3.625 5.625 4.4625 5.625 5.5C5.625 6.5375 6.4625 7.375 7.5 7.375C8.5375 7.375 9.375 6.5375 9.375 5.5C9.375 4.4625 8.5375 3.625 7.5 3.625Z"
                      fill="white" />
              </svg>
          </figure>
          Ver
      </button>

      <figure (click)="regresar.emit()">
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" /></svg>
        </figure>
        <p>Regresar</p>
      </figure>
    </header>
    <article>
        <aside>
            <article>
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Escriba el nombre del formulario</mat-label>
                            <input matInput [(ngModel)]="survey.name" type="text" placeholder="Ej:Formulario 1" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Escriba la descripción del formulario</mat-label>
                            <input matInput [(ngModel)]="survey.description" type="text" placeholder="Ej:Descripción Formulario 1" >
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Tipo de Formulario</mat-label>
                            <mat-select name="type" [(ngModel)]="survey.type" id="type">
                                <mat-option value="0" disabled selected>Seleccione un tipo...</mat-option>
                                <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field *ngIf="survey.type==1">
                            <mat-label for="">Porcentaje de aprobación</mat-label>
                            <input matInput [(ngModel)]="survey.percentage" type="text" placeholder="Ej: 90" numbersOnly>
                        </mat-form-field>
                    </div>
                </div>
            </article>
            <footer>
                <button mat-raised-button class="btn1" (click)="saveSurvey()">
                    Guardar Formulario
                </button>
                <!-- <button mat-raised-button class="btn btn-ocultar" (click)="back()">
                    Volver
                </button> -->
            </footer>
        </aside>
    </article>
</section>

<aside class="secciones">
    <vex-formularios-seccion *ngFor="let seccion of secciones; let i= index"
     [secciones]="secciones"
     [seccion]="seccion"
     [index]="i"
     [survey]="survey"

     (addSection)="addSection($event)"
     (addQuestion)="addQuestion($event)"

     (duplicate)="duplicate($event)"
     (delete)="delete($event)"
     (changeConditionSelection)="changeConditionSelection($event)"

     (changeData)="changeData($event)"
     (changeName)="changeName($event)"
     (changeSelect)="changeSelect($event)"
     (changeOther)="changeOther($event)"
     (changeSelectLista)="changeSelectLista($event)"
     (changeRequired)="changeRequired($event)"
     (changeFronteraUser)="changeFronteraUser($event)"
     (changeCheckDate)="changeCheckDate($event)"
     (changeValor)="changeValor($event)"
     (changeAnswer)="changeAnswer($event)"
     (changeSize)="changeSize($event)"
     >
    </vex-formularios-seccion>
    <footer>
        <button mat-raised-button class="btn1 btn-save" (click)="saveSurvey()">
            Guardar Formulario
        </button>
    </footer>
</aside>

