@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_util.scss';

.new-form{
    font-size: 12px;

    &>header{
      margin-top: 50px;
      @include flex;
      position: fixed;
      background-color: white;
      width: 100%;
      z-index: 2;
      color: black;
      height: 90px;
      position: relative;
      h3{
        font-size: 2em;
        width: 100%;
        color: black;
        margin: 0;
      }
      .btn2{
        background: #00539A;
        color: white;
        min-width: 80px;
        width: 80px;

      }
      &>figure{
        @include flex;
        position: absolute;
        top: 5px;
        left: 50px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        svg{
          fill: #00539A
        }
        p{
          color: #00539A;
          font-size: 1.4em;
          font-weight: bold;
        }
      }

    }
    &>article{
      padding: 0;
        &>aside{
            &>article{
                &>div{
                    padding: 0 5%;
                    @include flex;
                    &>div{
                        width: 100%;
                        margin: 0 10px;
                        .mat-form-field{
                            width: 100%;
                        }
                    }
                }
            }
            footer{
                padding: 0 5%;
                margin-top: 20px;
                .btn1{
                    color: white;
                    margin-right: 15px;
                }
                .btn-ocultar{
                    box-shadow: none
                }
            }
        }
    }
}

.secciones{
    width: 100%;
    padding: 0 5%;
    box-shadow: 0px 16px 40px rgba(154, 170, 207, 0.25);
    &.colapsep{
      height: 150px;
    }
    &>header {
        background-color: #E7E7E7;
        border: 1px solid #B8BCC1;
        border-bottom: 0.3px solid #B8BCC1;

        &>div {
            width: 100%;

            h2 {
                width: 100%;
                text-align: left;
                font-weight: bold;
                font-size: 1.4em;
                color: #333E4A
            }
        }
        .btn-mobile {
            margin-right: 15px;
            background: #EBEBEB;
            border-radius: 2px;
            height: 30px;
            width: 30px;
            @include flex;
        }
    }
    footer{
        margin-top: 40px;
        @include flex;
        justify-content: flex-start;
        padding-bottom: 70px;
        .btn{
            background: #FFFFFF;
            border-radius: 25px;
            color: #00539A;
            box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
            margin-right: 15px;
            @include flex;
            padding: 15px 20px;
            figure{
                margin-right: 10px;
            }
        }
        &:last-child{
            justify-content: flex-end;
            .btn-save{
              color: white;
            }
        }
    }
}
