<section>    
    <header> 
        <h3>Crear Archivos</h3>
    </header>
    <article>
      <form [formGroup]="filesForm">
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Documento de identidad</label>
              <input type="text"  autocomplete="off"   placeholder="Seleccione un archivo" formControlName="identidad" matInput readonly >
              <input name="identidad" type="file" (change)="handleUpload($event)">   
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>                    
        </div>
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Pruebas Saber 11</label>
              <input type="text"  autocomplete="off" placeholder="Seleccione un archivo" formControlName="saber" matInput readonly>     
              <input name="saber" type="file" (change)="handleUpload($event)">         
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>
          <mat-form-field>
            <div class="input-file">
              <label for="">Acta o diploma de bachiller, <span>si cursa el grado 11°, adjuntar el certificado de estudio</span></label>
              <input type="text"  autocomplete="off"   placeholder="Seleccione un archivo" formControlName="acta" matInput readonly>
              <input name="acta" type="file" (change)="handleUpload($event)">   
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>          
        </div>
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Cuenta de servicios públicos</label>
              <input type="text"  autocomplete="off" placeholder="Seleccione un archivo" formControlName="servicios" matInput readonly>     
              <input name="servicios" type="file" (change)="handleUpload($event)">         
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>
          <mat-form-field>
            <div class="input-file">
              <label for="">Sisben (opcional)</label>
              <input type="text"  autocomplete="off"   placeholder="Seleccione un archivo" formControlName="sisben" matInput readonly>
              <input name="sisben" type="file" (change)="handleUpload($event)">   
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>          
        </div>
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Certificado electoral <span>19 Junio - 2022 (opcional)</span></label>
              <input type="text"  autocomplete="off" placeholder="Seleccione un archivo" formControlName="electoral" matInput readonly>     
              <input name="electoral" type="file" (change)="handleUpload($event)">         
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>
          <mat-form-field>
            <div class="input-file">
              <label for="">Caracter del colegio (opcional)</label>
              <input type="text"  autocomplete="off"   placeholder="Seleccione un archivo" formControlName="colegio" matInput readonly>
              <input name="colegio" type="file" (change)="handleUpload($event)">   
              <figure>
                <span class="icon-[ph--upload-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>          
        </div> 
        <footer>
          <button class="btn" (click)="send()">Enviar</button>
        </footer>         
      </form>
    </article>
</section>