<article>    
    <div>      
        <!-- <input matInput [(ngModel)]='question.name' [ngModelOptions]="{standalone: true}" (input)="changeNameHandle($event,i)" type="text" placeholder=""> -->
        <mat-form-field *ngIf="survey.type==1 && typeQuestion==3" class="corta">
            <mat-label  for="">Texto de la respuesta corta</mat-label>
            <input matInput *ngIf="survey.type==1 && typeQuestion==3" (input)="changeAnswerHandle($event)" [(ngModel)]="correctAnswer"  type="text" placeholder="Texto de la respuesta corta">
        </mat-form-field>
        
        <mat-form-field *ngIf="survey.type==1 && typeQuestion==5" class="corta">
            <mat-label for="">Texto de la respuesta Númerica</mat-label>
            <input matInput *ngIf="survey.type==1 && typeQuestion==5" (input)="changeAnswerHandle($event)" [(ngModel)]="correctAnswer" type="text" placeholder="Texto de la respuesta Númerica" numbersOnly>        
        </mat-form-field>
        
        <mat-form-field *ngIf="survey.type==1 && typeQuestion==4" class="larga">
            <mat-label for="">Texto de la respuesta larga</mat-label>
            <input matInput *ngIf="survey.type==1 && typeQuestion==4" (input)="changeAnswerHandle($event)" [(ngModel)]="correctAnswer" class="larga" type="text" placeholder="Texto de la respuesta larga">                    
        </mat-form-field>
        <mat-form-field class="larga">
            <mat-label for="">Máximo de caracteres</mat-label>
            <input matInput (input)="changeSizeHandle($event)" [(ngModel)]="sizeMax" class="corta" type="text" placeholder="Máximo caracteres" numbersOnly>                    
        </mat-form-field>
    </div>
</article>
