article{
    margin: 20px 0;
    padding: 0 10px;
    &>div{
        width: 100%;
        mat-form-field{            
            width: calc(50% - 10px);
            &.larga{
                width: 100%;
            }
        }        
    }
}