
<article>
    <div>
        <aside>
          <mat-form-field>
            <mat-label for="">Titulo de muestra</mat-label>
            <input matInput (input)="changeAnswerHandle($event)" [(ngModel)]="question.question" type="text" placeholder="Titulo de muestra">
          </mat-form-field>
          <div>
            <div>
              <h4 for="">Imagen de muestra</h4>
              <input #myInput type="file" (change)="handleUpload($event)">
            </div>
            <figure>
              <img [src]="question.image" alt="">
            </figure>
          </div>
        </aside>
    </div>
</article>
