@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/_util.scss';

article{
    width: 100%;
    &>div{
        padding: 10px 0;
        width: 100%;
        @include flex;
        justify-content: flex-start;
        &>aside{
            @include flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: 3%;
            width: 100%;
            .mat-form-field{
              width: 100%;
              input{
                width: 100%;
              }
              .mat-form-field-flex{
                padding-left: 0;
              }
            }
            h4{
              width: 100%;
            }
            &>div {
                width: 100%;
                @include flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 10px;;
                input{
                    margin-right: 10px;
                }
                &>div,
                figure{
                  width: 100%;
                }
                &>div{
                  margin: 10px 0;
                }
                .mat-form-field-flex{
                  padding-left: 0;
                }
            }
        }
    }
}
