<section class="change-password">
  <article>
    <header>
      <figure> <img src="@/../assets/images/LOGO ITM 2020-2-03.png" alt="logo"></figure>
    </header>
    <form [formGroup]="changePasswordForm">
      <h3>Cambio de contraseña ITM</h3>
      <h4>Ingresa tu contraseña</h4>
      <mat-form-field>
        <div>
          <div class="password-field">              
            <label for="">contraseña actual</label>
            <input type="password" name="currentPassword"  autocomplete="off" formControlName="currentPassword" matInput  placeholder="Ingrese su contraseña" >            
          </div>
          <mat-error *ngIf="changePasswordForm?.get('currentPassword')?.hasError('required') && changePasswordForm?.get('currentPassword')?.dirty">
            Contraseña requerida.
          </mat-error>
          <mat-error *ngIf="!changePasswordForm.get('password')?.valid && changePasswordForm.get('password')?.touched">
              La contraseña debe contener al menos un número, una mayúscula, una minúscula, un carácter especial y al menos 8 caracteres
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field>
        <div>
          <div class="password-field">              
            <label for="">nueva contraseña</label>
            <input [type]="typePassword" name="password"  autocomplete="off" formControlName="password" matInput  placeholder="Ingrese su contraseña" 
            (onChange)="changePassword()">
            <figure (click)="seePassword()" *ngIf="typePassword=='password'">
              <svg width="22" height="18" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.998 5c-4.078 0-7.742 3.093-9.853 6.483-.096.159-.145.338-.145.517s.048.358.144.517c2.112 3.39 5.776 6.483 9.854 6.483 4.143 0 7.796-3.09 9.864-6.493.092-.156.138-.332.138-.507s-.046-.351-.138-.507c-2.068-3.403-5.721-6.493-9.864-6.493zm.002 3c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4zm0 1.5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5z" fill-rule="nonzero" fill="#9FA2B4"/></svg>
            </figure>
            <figure (click)="seePassword()" *ngIf="!(typePassword=='password')">
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.00002 10.7501C7.02476 10.7501 5.42581 9.22117 5.27867 7.28367L2.5469 5.17247C2.18779 5.623 1.85732 6.0993 1.59065 6.62013C1.53108 6.73797 1.50004 6.86817 1.50004 7.00021C1.50004 7.13225 1.53108 7.26245 1.59065 7.38029C3.00289 10.1358 5.79872 12.0001 9.00002 12.0001C9.70081 12.0001 10.3768 11.8959 11.0284 11.7277L9.67711 10.6821C9.45394 10.7252 9.22731 10.748 9.00002 10.7501ZM17.1724 12.2631L14.2935 10.0381C15.168 9.3011 15.8873 8.39755 16.4094 7.38003C16.469 7.26219 16.5 7.13199 16.5 6.99995C16.5 6.86791 16.469 6.73771 16.4094 6.61987C14.9972 3.8644 12.2013 2.00008 9.00002 2.00008C7.65927 2.0017 6.34029 2.33924 5.16357 2.98185L1.85055 0.421172C1.80734 0.387554 1.75794 0.362779 1.70516 0.348262C1.65238 0.333745 1.59725 0.329771 1.54294 0.336567C1.48862 0.343363 1.43617 0.360795 1.38859 0.387868C1.34102 0.414941 1.29924 0.451124 1.26565 0.494349L0.754452 1.15242C0.686639 1.23966 0.656253 1.35026 0.669976 1.45989C0.683699 1.56953 0.740407 1.66923 0.827629 1.73706L16.1495 13.579C16.1927 13.6126 16.2421 13.6374 16.2949 13.6519C16.3477 13.6664 16.4028 13.6704 16.4571 13.6636C16.5114 13.6568 16.5639 13.6394 16.6115 13.6123C16.659 13.5852 16.7008 13.549 16.7344 13.5058L17.2459 12.8477C17.3136 12.7605 17.344 12.6498 17.3302 12.5402C17.3164 12.4306 17.2597 12.3309 17.1724 12.2631ZM12.388 8.56518L11.3646 7.77404C11.4508 7.52494 11.4965 7.26364 11.5 7.00008C11.5051 6.61421 11.4196 6.23253 11.2504 5.88569C11.0812 5.53885 10.8331 5.23653 10.5258 5.003C10.2186 4.76947 9.86091 4.61125 9.48145 4.54105C9.10199 4.47085 8.71135 4.49062 8.34091 4.59878C8.49794 4.81156 8.58289 5.06895 8.58336 5.33341C8.57947 5.42142 8.56603 5.50873 8.54325 5.59383L6.62633 4.11232C7.29221 3.55586 8.13225 3.25072 9.00002 3.25008C9.49256 3.2498 9.98032 3.34661 10.4354 3.53497C10.8905 3.72333 11.304 3.99954 11.6523 4.34782C12.0006 4.69609 12.2768 5.1096 12.4651 5.56469C12.6535 6.01979 12.7503 6.50754 12.75 7.00008C12.75 7.56336 12.6123 8.08836 12.388 8.56544V8.56518Z" fill="#9FA2B4"/>
              </svg>
            </figure>
          </div>
          <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('required') && changePasswordForm?.get('password')?.dirty">
            Contraseña requerida.
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('password2')?.valid && changePasswordForm.get('password')?.touched && changePasswordForm.get('password2')?.touched && changePasswordForm.get('password')?.value != changePasswordForm.get('password2')?.value">
              Las contraseñas no coinciden
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field>
        <div>
          <div class="password-field">              
            <label for="">Repetir contraseña</label>
            <input [type]="typePassword2" name="password2"  autocomplete="off" formControlName="password2" matInput  placeholder="Repetir contraseña">
            <figure (click)="seePassword2()" *ngIf="typePassword2=='password'">
              <svg width="22" height="18" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.998 5c-4.078 0-7.742 3.093-9.853 6.483-.096.159-.145.338-.145.517s.048.358.144.517c2.112 3.39 5.776 6.483 9.854 6.483 4.143 0 7.796-3.09 9.864-6.493.092-.156.138-.332.138-.507s-.046-.351-.138-.507c-2.068-3.403-5.721-6.493-9.864-6.493zm.002 3c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4zm0 1.5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5z" fill-rule="nonzero" fill="#9FA2B4"/></svg>
            </figure>
            <figure (click)="seePassword2()" *ngIf="!(typePassword2=='password')">
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.00002 10.7501C7.02476 10.7501 5.42581 9.22117 5.27867 7.28367L2.5469 5.17247C2.18779 5.623 1.85732 6.0993 1.59065 6.62013C1.53108 6.73797 1.50004 6.86817 1.50004 7.00021C1.50004 7.13225 1.53108 7.26245 1.59065 7.38029C3.00289 10.1358 5.79872 12.0001 9.00002 12.0001C9.70081 12.0001 10.3768 11.8959 11.0284 11.7277L9.67711 10.6821C9.45394 10.7252 9.22731 10.748 9.00002 10.7501ZM17.1724 12.2631L14.2935 10.0381C15.168 9.3011 15.8873 8.39755 16.4094 7.38003C16.469 7.26219 16.5 7.13199 16.5 6.99995C16.5 6.86791 16.469 6.73771 16.4094 6.61987C14.9972 3.8644 12.2013 2.00008 9.00002 2.00008C7.65927 2.0017 6.34029 2.33924 5.16357 2.98185L1.85055 0.421172C1.80734 0.387554 1.75794 0.362779 1.70516 0.348262C1.65238 0.333745 1.59725 0.329771 1.54294 0.336567C1.48862 0.343363 1.43617 0.360795 1.38859 0.387868C1.34102 0.414941 1.29924 0.451124 1.26565 0.494349L0.754452 1.15242C0.686639 1.23966 0.656253 1.35026 0.669976 1.45989C0.683699 1.56953 0.740407 1.66923 0.827629 1.73706L16.1495 13.579C16.1927 13.6126 16.2421 13.6374 16.2949 13.6519C16.3477 13.6664 16.4028 13.6704 16.4571 13.6636C16.5114 13.6568 16.5639 13.6394 16.6115 13.6123C16.659 13.5852 16.7008 13.549 16.7344 13.5058L17.2459 12.8477C17.3136 12.7605 17.344 12.6498 17.3302 12.5402C17.3164 12.4306 17.2597 12.3309 17.1724 12.2631ZM12.388 8.56518L11.3646 7.77404C11.4508 7.52494 11.4965 7.26364 11.5 7.00008C11.5051 6.61421 11.4196 6.23253 11.2504 5.88569C11.0812 5.53885 10.8331 5.23653 10.5258 5.003C10.2186 4.76947 9.86091 4.61125 9.48145 4.54105C9.10199 4.47085 8.71135 4.49062 8.34091 4.59878C8.49794 4.81156 8.58289 5.06895 8.58336 5.33341C8.57947 5.42142 8.56603 5.50873 8.54325 5.59383L6.62633 4.11232C7.29221 3.55586 8.13225 3.25072 9.00002 3.25008C9.49256 3.2498 9.98032 3.34661 10.4354 3.53497C10.8905 3.72333 11.304 3.99954 11.6523 4.34782C12.0006 4.69609 12.2768 5.1096 12.4651 5.56469C12.6535 6.01979 12.7503 6.50754 12.75 7.00008C12.75 7.56336 12.6123 8.08836 12.388 8.56544V8.56518Z" fill="#9FA2B4"/>
              </svg>
            </figure>
          </div>
          <mat-error *ngIf="changePasswordForm?.get('password2')?.hasError('required') && changePasswordForm?.get('password2')?.dirty">
            Contraseña requerida.
          </mat-error>
        </div>
      </mat-form-field>  
      
    </form>
    <footer>
      <div>
        <button class="btn2" (click)="changePassword()">Cambiar contraseña e ingresar</button>
      </div>
      <!-- <div>
        <h5>¿Ya tienes una contraseña?<span (click)="login()">Inicia Sesión</span></h5>
      </div> -->
    </footer>
  </article>
</section>
