@import "../../../@vex/styles/partials/styles/_style-default.scss";

.vex-page-layout {
  display: block;
}

.vex-page-layout-simple {

  .vex-page-layout-content {
    padding-bottom: var(--padding-gutter);
    padding-top: var(--padding-gutter);
  }
}

.vex-page-layout-card {
  padding-bottom: var(--padding);

  .vex-page-layout-header {
    margin-bottom: calc(var(--page-layout-toolbar-height) * -1);
    padding-bottom: var(--page-layout-toolbar-height);
  }

  .vex-page-layout-content {

    >*>.mat-tab-group .mat-tab-label,
    >.mat-tab-group .mat-tab-label {
      height: var(--page-layout-toolbar-height);

      &.mat-tab-label-active {
        opacity: 1;
      }
    }
  }
}

.vex-page-layout-header {
  align-items: center;
  @apply bg-primary/10;
  box-sizing: content-box !important;
  display: flex;
  flex-direction: row;
  height: calc(var(--page-layout-header-height) - var(--page-layout-toolbar-height));
  padding-left: var(--padding);
  padding-right: var(--padding);
  place-content: center flex-start;
}

.vex-page-layout-content {
  box-sizing: border-box;
  display: block;
  padding-left: var(--padding-gutter);
  padding-right: var(--padding-gutter);
}


.mat-mini-fab .mat-button-wrapper {
  padding: 8px 0;
  display: inline-block;
  line-height: 50%;
}

// .mat-form-field-appe#181616e-fill .mat-form-field-flex {
//   background-color: rgb(2, 1, 1);
//   padding: 0 !important;
// }