<vex-page-layout>
  <app-header title="Solicitudes" [crumbs]="['Solicitudes']"></app-header>

  <vex-page-layout-content class="container -mt-6">
    <div class="-mt-16 overflow-auto card">
      <div
        class="sticky left-0 flex items-center h-16 px-6 border-b bg-app-bar"
      >
        <h2
          class="flex-none hidden my-0 title ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l sm:block ng-tns-c1049242891-6"
        >
          <span>Solicitudes</span>
        </h2>
        <!--Buscador-->
        <app-search (data)="search($event)"></app-search>
        <div class="flex-none hidden px-4 sm:block" style="padding-top: 1.5%">
          <mat-form-field appearance="fill">
            <mat-select
              [formControl]="selectTypeRequest"
              (selectionChange)="getData()"
            >
              <mat-option [value]="0">Filtro de Categoría</mat-option>
              <mat-option
                *ngFor="let typeRequest of typeRequests"
                [value]="typeRequest.id"
              >
                {{ typeRequest.category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-none hidden px-4 sm:block" style="padding-top: 1.5%">
          <mat-form-field appearance="fill">
            <mat-select
              [formControl]="selectStatus"
              (selectionChange)="getData()"
            >
              <mat-option [value]="0">Filtro de Estado</mat-option>
              <mat-option *ngFor="let state of status" [value]="state.id">
                {{ state.estado }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-none hidden px-4 sm:block">
          <input type="date" [formControl]="date" (input)="getData()" />
        </div>
        <span class="flex-1"></span>
        <app-button-filter [columns]="columns"></app-button-filter>
        <button
          class="flex-none ml-4"
          color="primary"
          mat-mini-fab
          matTooltip="Add Customer"
          type="button"
          style="background: #00539a"
          (click)="createRequest()"
        >
          <mat-icon>add</mat-icon>
        </button>

        <!---->
      </div>
      <app-table
        [columns]="columns"
        [data]="data"
        [totalItems]="totalItems"
        [menuActions]="menuActions"
        (page)="nextPage($event)"
        (actions)="opciones($event)"
      ></app-table>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
