<section>    
    <header> 
        <h3>Búsqueda de usuarios</h3>
    </header>
    <article>
      <form [formGroup]="searchForm">
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Identificación del usuario</label>
              <input type="text"  autocomplete="off"   placeholder="Identificación del usuario" formControlName="search" matInput >              
              <figure>
                <span class="icon-[iconamoon--search-thin]"></span>   
              </figure>                    
            </div>
          </mat-form-field>                      
        </div>                      
        <footer>
          <button class="btn" (click)="search()">Buscar</button>
        </footer> 
      </form>      
    </article>    
    <header *ngIf="resultVisible"> 
      <h3>Resultado</h3>
    </header>
    <article *ngIf="resultVisible">
      <form [formGroup]="resultForm">
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Nombres</label>
              <input type="text"  autocomplete="off"   placeholder="Nombres" formControlName="name" matInput readonly >                            
            </div>
          </mat-form-field>  
          <mat-form-field>
            <div class="input-file">
              <label for="">Apellidos</label>
              <input type="text"  autocomplete="off"   placeholder="Apellidos" formControlName="lastName" matInput readonly >                            
            </div>
          </mat-form-field>  
        </div>
        <div>
          <mat-form-field>
            <div class="input-file">
              <label for="">Nombre de usuario</label>
              <input type="text"  autocomplete="off"   placeholder="Nombre de usuario" formControlName="userName" matInput readonly >                            
            </div>
          </mat-form-field>  
          <mat-form-field>
            <div class="input-file">
              <label for="">Correo electrónico</label>
              <input type="text"  autocomplete="off"   placeholder="Correo electrónico" formControlName="eMail" matInput readonly >                            
            </div>
          </mat-form-field>  
        </div>
      </form>
    </article>    
</section>