@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/util.scss';

article {

    div {

        ul {

            li {
                @include flex;
                justify-content: flex-start;

                header {
                    height: 100%;

                    input[type="text"] {
                        border: none;
                        margin-left: 5px;
                        width: 90px;
                    }

                    label {
                    }
                }

                &>div {
                    margin: 8px 0;
                    @include flex;
                    margin-left: 15px;
                    &>div {
                        margin-right: 20px;
                        width: 30px;
                    }
                    .btn-delete {
                        cursor: pointer;
                        @include flex;
                        figure {
                            @include flex;
                            background: #FFE4E4;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            position: relative;
                            top: -5px;

                            svg {
                                fill: #E93C3C
                            }
                        }
                    }
                    .btn-more {
                        cursor: pointer;
                        @include flex;
                        figure {
                            @include flex;
                            background-color: #00539A;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            position: relative;
                            top: -5px;

                            svg {
                                fill: #E93C3C
                            }
                        }
                    }

                }
                &.other{
                    label{
                        margin-left: 5px;
                        color: #999;
                    }
                }
            }
        }
    }
}
