<article>
    <div>
        <ul>            
            <li *ngFor="let option of options; let i = index">
                <header>
                    <input *ngIf="survey.type==1" type="radio" [(ngModel)]="option.check" (change)="changeSelectHanlde(i)" >                                        
                    <input type="text" [(ngModel)]="option.text"  placeholder="Opción {{i+1}}" >
                </header>
                <header>
                    <input *ngIf="survey.type==1" type="radio" [(ngModel)]="option.value" (change)="changeSelectHanlde(i)" >                                        
                    <input type="text" [(ngModel)]="option.value"  placeholder="Valor Opción {{i+1}}" >
                </header>

                <div>
                    <div class="btn btn-more" (click)="addOption(i)">
                        <figure >
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M12.0076 6.94412H7.09939V11.8523H5.46334V6.94412H0.555176V5.30807H5.46334V0.399902H7.09939V5.30807H12.0076V6.94412Z"
                                fill="white" />
                            </svg>
                        </figure>
                    </div>
                    <div class="btn btn-delete" (click)="deleteOption(i)">
                        <figure *ngIf="i>0">
                            <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.9258 4.37939H1.39844V14.4681C1.39844 16.5735 2.56814 16.8075 3.15299 16.6613H10.1712C11.5748 16.6613 11.9258 15.4916 11.9258 14.9067V4.37939Z"
                                    fill="#E93C3C" />
                                <path d="M12.8034 3.50146H0.521484V1.74691H3.59195L4.46923 0.869629H8.85561L9.73289 1.74691H12.8034V3.50146Z"
                                    fill="#E93C3C" />
                            </svg>
                        </figure>
                    </div>
                </div>
            </li>   
            <li class="other">
                <header>
                    <input type="checkbox" [(ngModel)]="other" (change)="changeOther.emit()">
                    <label for="">Agregar la opción "Otro"</label>
                </header>
                <!-- <div>
                    <div class="btn btn-more" (click)="addOption(i)">
                        <figure>
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0076 6.94412H7.09939V11.8523H5.46334V6.94412H0.555176V5.30807H5.46334V0.399902H7.09939V5.30807H12.0076V6.94412Z"
                                    fill="white" />
                            </svg>
                        </figure>
                    </div>
                    <div class="btn btn-delete" (click)="deleteOption(i)">
                        <figure *ngIf="i>0">
                            <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.9258 4.37939H1.39844V14.4681C1.39844 16.5735 2.56814 16.8075 3.15299 16.6613H10.1712C11.5748 16.6613 11.9258 15.4916 11.9258 14.9067V4.37939Z"
                                    fill="#E93C3C" />
                                <path
                                    d="M12.8034 3.50146H0.521484V1.74691H3.59195L4.46923 0.869629H8.85561L9.73289 1.74691H12.8034V3.50146Z"
                                    fill="#E93C3C" />
                            </svg>
                        </figure>
                    </div>
                </div> -->
            </li>
        </ul>        
    </div>
</article>