<vex-page-layout *ngIf="step==1">
  <app-header title="Componentes de Servicio" [crumbs]="['Administrador']" ></app-header>

  <vex-page-layout-content class="container -mt-6">
    <div class="-mt-16 overflow-auto card">
      <div
        class="sticky left-0 flex items-center h-16 px-6 border-b bg-app-bar"
      >
      <h2
          class="flex-none hidden my-0 title ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l sm:block ng-tns-c1049242891-6"
        >
        <span>Componente de servicios</span>
        </h2>
        <!--Buscador-->
        <app-search (data)="search($event)"></app-search>
        <span class="flex-1"></span>
        <app-button-filter [columns]="columns" matTooltip="Filtrar"></app-button-filter>
        <button
          class="flex-none ml-4"
          color="primary"
          mat-mini-fab
          matTooltip="Crear Formulario"
          type="button"
          (click)="crearFormulario()"
          >
          <mat-icon>add</mat-icon>
        </button>

        <!---->
      </div>
      <app-table
      [columns]="columns"
      [data]="data"
      [totalItems]="totalItems"
      [menuActions]="menuActions"
      (page)="nextPage($event)"
      (actions)="opciones($event)"
      [pgAutomatic]="true"
      ></app-table>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<vex-page-layout *ngIf="step==2">
  <vex-new-form (regresar)="regresar()" [id]="id">
  </vex-new-form>
</vex-page-layout>
