@import '../../../styles/_mixins.scss';

.formularios{
    .btn2{
        padding-left: 40px;
        position: relative;
        &:before {
                content: "+";
                margin-right: 15px;
                font-size: 1.8em;
                font-weight: 200;
                position: absolute;
            }
    }
}

.new-form{
    font-size: 12px;
    .ver-pdf{
        margin-top: 20px;
        .btn1{
            color: white;
        }
    }
    &>article{
        &>header{
            background-color: white;
            border-bottom: 0.3px solid #B8BCC1;
            &>div{
                width: 100%;
                h2{
                    width: 100%;
                    text-align: left;
                    font-weight: bold;
                    font-size: 1.4em;
                    color: #333E4A
                }
            }
            .btn-mobile{
                margin-right: 15px;
                background: #EBEBEB;
                border-radius: 2px;
                height: 30px;
                width: 30px;
                @include flex;
            }
        }
        &>aside{
            &>article{
                padding-top: 60px;
                padding-bottom: 25px;
                &>div{
                    padding: 0 5%;
                    @include flex;
                    &>div{
                        width: 100%;
                        margin: 0 10px;
                        .mat-form-field{
                            width: 100%;
                        }
                    }
                }
            }
            footer{
                padding: 0 5%;
                .btn1{
                    color: white;
                    margin-right: 15px;
                }
                .btn-ocultar{
                    box-shadow: none
                }
            }
        }
    }
}
