@import '../../../styles/_mixins.scss';

.roles {
    .btn2 {
        padding-left: 40px;
        position: relative;

        &:before {
            content: "+";
            margin-right: 15px;
            font-size: 1.8em;
            font-weight: 200;
            position: absolute;
            left: 17px;
            top: 4px;
        }
    }
}