@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_util.scss';

.seccion{

    position: relative;
    font-size: 12px;
    padding-top: 30px;
    &.colapsed{
      overflow: hidden;
      height: 100px;
      &>header{
        &>figure{
          top: -20px;
          transform: rotate(180deg);
        }
      }
    }
    &.colapsed2{
      height: 220px;
    }
    &:last-child {
        justify-content: flex-end;
    }
    &>header{
        position: relative;
        @include flex;
        flex-wrap: wrap;
        margin: 40px 0;
        &>figure{
          font-size: 3em;
          background-color: #f5f5f8;
          padding: 0 20px;
          top: -10px;
          left: 0;
          position: absolute;
          z-index: 1;
          width: fit-content;
          height: 30px;
          cursor: pointer;
          svg{
            fill: #00539A;
            stroke: #00539A;
          }
        }
        &>h3{
            color: #00539A;
            font-size: 3em;
            background-color: #f5f5f8;
            padding: 0 20px;
            font-weight: bold;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            z-index: 1;
            width: fit-content;
            height: 30px;
        }
        &>input{
            color: #00539A;
            font-size: 3em;
            background-color: #f5f5f8;
            padding: 0 20px;
            font-weight: bold;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            z-index: 1;
            text-align: center;
            opacity: 0;
            width: fit-content;
        }
        &:before{
            content: "";
            background: #00539A;
            height: 2px;
            position: absolute;
            width: 96%;
            left: 0;
        }
        .btn-more{
            position: absolute;
            right: 2%;
            cursor: pointer;
        }
        .options{
            position: absolute;
            right: 20px;
            top: 26px;
            background-color: white;
            border-radius: 5px;
            padding: 5px 10px;
            li{
                cursor: pointer;
            }
        }
    }
    .condiciones {
        flex-wrap: wrap;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #B8BCC1;
        h2{
            margin: 0 10px;
            font-size: 1.3em;
            margin-left: 10px;
            color: #59616A;
            font-weight: bold;
        }
        &>div{
            width: 100%;
            @include flex;
            &>div{
                width: 100%;
                margin: 0 10px;
                .mat-form-field{
                    width: 100%;
                }
            }
        }

    }
    &>article{
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
        border-left: 10px solid #00539A;
        margin-bottom: 30px;
        &>header{
            border-bottom: 1px solid #B8BCC1;
            min-height: 60px;
            @include flex;
            padding: 0 2%;
            &>div{
                @include flex;
                width: 100%;
                justify-content: flex-start;
                position: relative;
                h4{
                    font-size: 1.3em;
                    margin-left: 10px;
                    color: #59616A;
                    font-weight: bold;
                }
                &:last-child{
                    justify-content: flex-end;
                }
                .btn-more{
                    cursor: pointer;
                    margin-right: 20px;
                }
                .options{
                    position: absolute;
                    width: 210px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
                    border-radius: 4px;
                    padding: 10px 15px;
                    right: 40px;
                    ul{
                        width: 100%;
                    }
                    li{
                        @include flex;
                        width: 100%;
                        justify-content: flex-start;
                        cursor: pointer;
                        margin-bottom: 5px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #ccc;
                        &:nth-child(1){
                            // &:before {
                            //     content: "+";
                            //     margin-right: 15px;
                            //     font-size: 1.8em;
                            //     font-weight: 200;
                            //     position: absolute;
                            //     left: 17px;
                            //     top: 4px;
                            // }
                        }
                    }

                }
            }

        }
        &>div{
            min-height: 150px;
            padding-top: 50px;
            .mat-form-field {
                width: 100%;
            }
            &>form {
                padding: 0 5%;
                @include flex;
                flex-wrap: wrap;
                &>div {
                    @include flex;
                    width: 100%;
                    &>div {
                        width: 100%;
                        margin: 0 10px;
                    }
                }
            }
            &>section{
                padding: 0 5%;
                @include flex;
                padding-bottom: 20px;
                &>*{
                    width: 100%;
                }
                label{
                    margin-left: 5px;
                }
            }
        }
        &>footer{
            border-top: 1px solid #B8BCC1;
            min-height: 70px;
            @include flex;
            justify-content: flex-start;
            padding-left: 5%;
            position: relative;
            width: 100%;

            .form-valor {
                position: absolute;
                right: 10px;
                top: 0;
            }
            &>div{
                border-right: 1px solid #8E96A1;
                height: 20px;
                padding-right: 15px;
                margin-right: 15px;
                position: relative;
                figure{
                    @include flex;
                }
                input{
                    margin-right: 5px;
                }
                label{
                    color: #8E96A1;
                }
                &.btn-delete-question {
                    cursor: pointer;
                    figure{
                        background: #FFE4E4;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        position: relative;
                        top: -5px;
                        svg{
                            fill:#E93C3C
                        }
                    }
                }
                &.btn-duplicate-question{
                    cursor: pointer;
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
    &>footer {
        margin-top: 40px;
        @include flex;
        justify-content: flex-start;
        padding-bottom: 70px;
        .btn {
            background: #FFFFFF;
            border-radius: 25px;
            color: #00539A;
            box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
            margin-right: 15px;
            @include flex;
            padding: 15px 20px;

            figure {
                margin-right: 10px;
            }
        }
    }
}


article {

    div {

        ul {

            li {
                @include flex;
                justify-content: flex-start;

                header {
                    height: 100%;

                    input[type="text"] {
                        border: none;
                        margin-left: 5px;
                        width: 90px;
                    }

                    label {
                    }
                }

                &>div {
                    margin: 8px 0;
                    @include flex;
                    margin-left: 15px;
                    &>div {
                        margin-right: 20px;
                        width: 30px;
                    }
                    .btn-delete {
                        cursor: pointer;
                        @include flex;
                        figure {
                            @include flex;
                            background: #FFE4E4;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            position: relative;
                            top: -5px;

                            svg {
                                fill: #E93C3C
                            }
                        }
                    }
                    .btn-more {
                        cursor: pointer;
                        @include flex;
                        figure {
                            @include flex;
                            background-color: #00539A;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            position: relative;
                            top: -5px;

                            svg {
                                fill: #E93C3C
                            }
                        }
                    }

                }
                &.other{
                    label{
                        margin-left: 5px;
                        color: #999;
                    }
                }
            }
        }
    }
}
