<section class="seccion"
  [ngClass]="{'colapsed': (seccion.colapsed), 'colapsed2': (seccion.colapsed && seccion.conditions && index>0)}">
    <header>
        <figure (click)="seccion.colapsed=!seccion.colapsed">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z" /></svg>
        </figure>
        <h3>{{seccion.name}}</h3>
        <input [(ngModel)]="seccion.name" />
        <div class="btn btn-more" (click)="seccion.options=!seccion.options" *ngIf="index>0">
            <svg width="5" height="20" viewBox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2.5" cy="2.5" r="2.5" fill="#59616A" />
                <circle cx="2.5" cy="10" r="2.5" fill="#59616A" />
                <circle cx="2.5" cy="17.5" r="2.5" fill="#59616A" />
            </svg>
        </div>
        <div class="options" *ngIf="seccion.options">
            <ul>
                <li *ngIf="!seccion.conditions" (click)="seccion.conditions=!seccion.conditions">Agregar Condición</li>
                <li *ngIf="seccion.conditions" (click)="seccion.conditions=!seccion.conditions">Eliminar Condición</li>
            </ul>
        </div>
    </header>
    <section class="condiciones" *ngIf="seccion.conditions && index>0">
        <h2>Mostrar Sección cuando</h2>
        <div>
            <div>
                <mat-form-field>
                    <mat-label for="">Seleccione la pregunta</mat-label>
                    <mat-select [compareWith]="compareFn2" name="condition" id="{{'condition' + index}}" [(ngModel)]='seccion.if'>
                        <ng-container *ngFor="let seccion1 of secciones; let k = index">
                            <mat-option [disabled]="true" >
                                ---- Sección {{k+1}} ----
                            </mat-option>
                            <mat-option  *ngFor="let question2 of seccion1.questions; let j = index"  [value]="[k,j]" [disabled]="k>=index || question2.type==8 || question2.type==9" >
                                {{question2.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field *ngIf="seccion.if">
                    <mat-label for="">Seleccionar respuesta</mat-label>
                    <mat-select name="condition2" id="{{'condition2_' + index}}" [(ngModel)]='seccion.if2'>
                        <!-- <ng-container *ngFor="let seccion1 of secciones; let k = index">                             -->
                        <mat-option *ngFor="let choice of secciones[seccion.if[0]]?.questions[seccion.if[1]]?.choices; let j = index"  [value]="j" >
                            {{choice.text}}
                        </mat-option>
                        <!-- </ng-container> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </section>
    <article *ngFor="let question of seccion.questions; let i = index">
        <header>
            <div>
                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 12H5V10H0V12ZM6.5 12H11.5V10H6.5V12ZM13 12H18V10H13V12ZM0 16H2V14H0V16ZM4 16H6V14H4V16ZM8 16H10V14H8V16ZM12 16H14V14H12V16ZM16 16H18V14H16V16ZM0 8H8V6H0V8ZM10 8H18V6H10V8ZM0 0V4H18V0H0Z"
                        fill="#00539A" />
                </svg>
                <h4>Pregunta {{ i+1 }}</h4>
            </div>
            <div>
                <div class="btn btn-more" (click)="question.options=!question.options">
                    <svg width="5" height="20" viewBox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2.5" cy="2.5" r="2.5" fill="#59616A" />
                        <circle cx="2.5" cy="10" r="2.5" fill="#59616A" />
                        <circle cx="2.5" cy="17.5" r="2.5" fill="#59616A" />
                    </svg>
                </div>
                <div class="options" *ngIf="question.options">
                    <ul>
                        <li *ngIf="!question.conditions" (click)="question.conditions=!question.conditions">Agregar Condición</li>
                        <li *ngIf="question.conditions" (click)="question.conditions=!question.conditions">Eliminar Condición</li>
                        <li *ngIf="!question.conditionGlobalToggle && (question.type==1 || question.type==2)" (click)="question.conditionGlobalToggle=!question.conditionGlobalToggle">Agregar Condición Global</li>
                        <li *ngIf="question.conditionGlobalToggle" (click)="question.conditionGlobalToggle=!question.conditionGlobalToggle">Eliminar Condición Global</li>

                        <!-- <li *ngIf="!question.conditionDateToggle && (question.type==8)" (click)="question.conditionDateToggle=!question.conditionDateToggle; addOptions(i);">Agregar Condición Fechas</li>
                        <li *ngIf="question.conditionDateToggle" (click)="question.conditionDateToggle=!question.conditionDateToggle">Eliminar Condición Fechas</li> -->

                    </ul>
                </div>
            </div>
        </header>
        <div>
            <form>
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label for="" >Escribe el mensaje de la casilla</mat-label>
                            <!-- <input matInput [(ngModel)]='question.name' [ngModelOptions]="{standalone: true}" (input)="changeNameHandle($event,i)" type="text" placeholder=""> -->
                            <input matInput [(ngModel)]='question.name' [ngModelOptions]="{standalone: true}" type="text" placeholder="">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Escoge el tipo de campo</mat-label>
                            <mat-select name="typeQuestion" id="{{'typeQuestion' + i}}"  [(ngModel)]='question.type' (ngModelChange)="changeType($event,i)">
                                <mat-option *ngFor="let typeQuestion of typeQuestions" [value]="typeQuestion.id">{{typeQuestion.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <section>

                <vex-simple
                    *ngIf="(question.type==3 || question.type==4 || question.type==5 || question.type==6 )"
                    [typeQuestion]="question.type"
                    [correctAnswer]="question.correctAnswer"
                    [sizeMax]="question.sizeMax"
                    [survey]="survey"
                    (changeAnswer)="changeAnswerHandle($event,i)"
                    (changeSize)="changeSizeHandle($event,i)"
                    >
                </vex-simple>

                <vex-multiple
                    *ngIf="question.type==1 || question.type==2"
                    [options]="question.choices"
                    [other]="question.other"
                    [survey]="survey"
                    (changeSelect)="changeSelectHandle($event,i)"
                    (changeOther)="changeOtherHandle(i)"
                    >
                </vex-multiple>

                <vex-lista
                    *ngIf="question.type==9"
                    [question]="question"
                    (changeSelect)="changeSelectHandle($event,i)"
                    >
                </vex-lista>

                <!-- <vex-listas
                    *ngIf="question.type==9"
                    [options]="question.choices"
                    [other]="question.other"
                    [survey]="survey"
                    (changeSelect)="changeSelectHandle($event,i)"
                    (changeOther)="changeOtherHandle(i)"
                    >
                </vex-listas> -->

                <vex-archivo *ngIf="question.type==7"
                    [question]="question"
                >
                </vex-archivo>
                <vex-fecha *ngIf="question.type==8"
                    [question]="question"
                    [indexQuestion]="i"
                    (changeCheckDate)="changeCheckDateHandle($event)"
                >
                </vex-fecha>

                <vex-muestra *ngIf="question.type==10"
                    [question]="question"
                    [indexQuestion]="i"
                    (changeCheckDate)="changeCheckDateHandle($event)"
                >
                </vex-muestra>



            </section>
            <section class="condiciones" *ngIf="question.conditions">
                <h2>Mostrar Pregunta cuando</h2>
                <div>
                    <!-- <div>
                        <mat-form-field>
                            <mat-label for="">Seleccione la pregunta</mat-label>
                            <mat-select name="condition" id="{{'condition' + i}}" [(ngModel)]='question.if' (selectionChange)="selectConditionQuestion($event,i)">
                                <mat-option *ngFor="let question2 of seccion.questions; let j = index"  [value]="j" [disabled]="(j>=i) || question2.type == 8">
                                    {{question2.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Seleccionar respuesta</mat-label>
                            <mat-select name="condition2" id="{{'condition2_' + i}}" [(ngModel)]='question.if2'>
                                <mat-option *ngFor="let choice of seccion.questions[question.if]?.choices; let j = index"  [value]="j">
                                    {{choice.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div>
                        <mat-form-field>
                            <mat-label for="">Seleccione la pregunta</mat-label>
                            <mat-select [compareWith]="compareFn2" name="condition" id="{{'condition' + i}}" [(ngModel)]='question.if'>
                                <ng-container *ngFor="let seccion1 of secciones; let k = index">
                                <mat-option [disabled]="true" >
                                    ---- Sección {{k+1}} ----
                                </mat-option>
                                <mat-option *ngFor="let question2 of seccion1.questions; let j = index"  [value]="[k,j]" [disabled]="(k==index && j>=i) || k>index || question2.type == 8 || question2.type == 9">
                                    {{question2.name}}
                                </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field *ngIf="question.if">
                            <mat-label for="">Seleccionar respuesta</mat-label>
                            <mat-select  name="condition2" id="{{'condition2_' + i}}" [(ngModel)]='question.if2'>
                                <!-- <ng-container *ngFor="let seccion1 of secciones; let k = index">                                                             -->
                                <mat-option *ngFor="let choice of secciones[question.if[0]]?.questions[question.if[1]]?.choices; let j = index"  [value]="j">
                                    {{choice.text}}
                                </mat-option>
                                <!-- </ng-container> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div>
                        <mat-form-field>
                            <mat-label for="">Seleccionar respuesta</mat-label>
                            <mat-select name="condition2" [(ngModel)]='question.if2'>
                                <mat-option *ngFor="let choice of question.ifChoices; let j = index"  [value]="j">
                                    {{choice.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                </div>
            </section>

            <section class="condiciones" *ngIf="question.conditionGlobalToggle">
                <h2>Bloquear Formulario cuando</h2>
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Seleccionar respuesta</mat-label>
                            <mat-select name="condition2" id="{{'question_' + i}}" [(ngModel)]='question.conditionGlobal' multiple>
                                <mat-option *ngFor="let choice of question.choices; let j = index"  [value]="j">
                                    {{choice.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Mensaje de Bloqueo</mat-label>
                            <input matInput [(ngModel)]='question.conditionGlobalText' [ngModelOptions]="{standalone: true}" type="text" placeholder="">
                        </mat-form-field>
                    </div>
                </div>
            </section>
            <section class="condiciones-date" *ngIf="question.conditionDateToggle">
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label for="">Escriba titulo de la condicion</mat-label>
                            <input matInput [(ngModel)]='question.titleConditionDate' [ngModelOptions]="{standalone: true}" type="text" placeholder="">

                        </mat-form-field>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div>
                <input type="checkbox" [checked]='question.required' (change)="changeRequiredHandle($event,i)">
                <label for="">Requerido</label>
            </div>
            <div class="btn btn-delete-question" title="Eliminar" (click)="deleteHandle(i)">
                <figure>
                    <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.9258 4.37939H1.39844V14.4681C1.39844 16.5735 2.56814 16.8075 3.15299 16.6613H10.1712C11.5748 16.6613 11.9258 15.4916 11.9258 14.9067V4.37939Z"
                            fill="#E93C3C" />
                        <path d="M12.8034 3.50146H0.521484V1.74691H3.59195L4.46923 0.869629H8.85561L9.73289 1.74691H12.8034V3.50146Z"
                            fill="#E93C3C" />
                    </svg>
                </figure>
            </div>
            <div class="btn btn-duplicate-question" title="Duplicar" (click)="duplicateHandle(i)">
                <figure>
                    <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.5625 15.603C4.19792 15.603 3.88802 15.4754 3.63281 15.2202C3.3776 14.965 3.25 14.6551 3.25 14.2905V2.04053C3.25 1.67594 3.3776 1.36605 3.63281 1.11084C3.88802 0.855631 4.19792 0.728027 4.5625 0.728027H14.1875C14.5521 0.728027 14.862 0.855631 15.1172 1.11084C15.3724 1.36605 15.5 1.67594 15.5 2.04053V14.2905C15.5 14.6551 15.3724 14.965 15.1172 15.2202C14.862 15.4754 14.5521 15.603 14.1875 15.603H4.5625ZM1.9375 18.228C1.57292 18.228 1.26302 18.1004 1.00781 17.8452C0.752604 17.59 0.625 17.2801 0.625 16.9155V4.38115C0.625 4.19157 0.686979 4.0348 0.810938 3.91084C0.934896 3.78688 1.09167 3.7249 1.28125 3.7249C1.47083 3.7249 1.6276 3.78688 1.75156 3.91084C1.87552 4.0348 1.9375 4.19157 1.9375 4.38115V16.9155H11.65C11.8396 16.9155 11.9964 16.9775 12.1203 17.1015C12.2443 17.2254 12.3063 17.3822 12.3063 17.5718C12.3063 17.7614 12.2443 17.9181 12.1203 18.0421C11.9964 18.166 11.8396 18.228 11.65 18.228H1.9375Z"
                            fill="#8E96A1" />
                    </svg>
                </figure>
            </div>
            <!-- <div>
                <input type="checkbox" [checked]='question.fronteraUser' (change)="changeFronteraUserHandle($event,i)">
                <label for="">No aplica para usuario frontera</label>
            </div> -->
            <div class="form-valor">
                <mat-form-field *ngIf="survey.type==1">
                    <mat-label for="">Peso de la pregunta</mat-label>
                    <input matInput [(ngModel)]='question.valor' [ngModelOptions]="{standalone: true}"
                        (input)="changeValorHandle($event,i)" type="text" placeholder="" numbersOnly>
                </mat-form-field>
            </div>
        </footer>
    </article>
    <footer>
        <button class="btn btn-add-question" (click)="addQuestionHandle()">
            <figure>
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.5801 0.0618404L8.48042 0.0380114L8.38595 8.36222L0.0617471 8.26775L0.037918 10.3674L8.36212 10.4619L8.26765 18.7861L10.3673 18.8099L10.4618 10.4857L18.786 10.5802L18.8098 8.48052L10.4856 8.38605L10.5801 0.0618404Z"
                        fill="#00539A" />
                </svg>
            </figure>
            Añadir pregunta
        </button>
        <button class="btn btn-add-seccion" (click)="addSectionHandle()">
            <figure>
                <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="19.5" height="5.41667" fill="#00539A" />
                    <rect y="7.58325" width="19.5" height="5.41667" fill="#00539A" />
                </svg>
            </figure>
            Añadir sección
        </button>
    </footer>
</section>
