@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/_util.scss';

article{
    width: 100%;
    &>div{
        width: 100%;
        @include flex;
        justify-content: flex-start;
        &>aside{
            @include flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            height: 30px;
            margin-left: 3%;
            &>div {
                width: 100%;
                @include flex;
                justify-content: flex-start;;
                input{
                    margin-right: 10px;
                }
            }
        }             
    }
}