
<article>    
    <div>
        <aside>
            <div > 
                <input type="checkbox" [(ngModel)]="question.checkDate" (change)="changeCheckDateHandle($event)">
                <label for="">Control de Vencimiento</label>
            </div>            
        </aside>
    </div>    
</article>